.bt {
    width: 200px;
    height: 50px;
    margin: 20px;
}

.frame {
    background-color: var(--yellow-header);
    color: var(--background-header);
    border: 2px solid var(--background-header); 
    border-radius: 10%;
}

.cerverus-button {
    
    text-decoration: none;
    margin: 0 auto;
    margin-top: 2vh;
    height: 5vh;
    width: 30vh;
    padding: 1vh;
    text-align: center;
    color: var(--background-header);
    background: var(--yellow-header);
    
    border-radius: 10%;
}