.bt {
    width: 200px;
    height: 50px;
    margin: 20px;
}

.frame {
    background-color: transparent;
    color: var(--background-header);
    border: 2px solid var(--background-header); 
    border-radius: 10%;
}