@import url(./Header.css);
@import url(./button.css);
@import url(./caroussel.css);
@import url(./Intro.css);
@import url(./flip-transition.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root{
    --yellow-header: #DCB03C;
    --background-header: #502F30;
    --letter: 'Roboto Slab', serif;
}

